  .color-bg-theme {
    background-color: #0059D1;
  }

  #container3D {
    border-radius: 20px;
    width: 100%;
    max-width: 900px;
    aspect-ratio: 16 / 12;
    overflow: hidden;
    position: relative;
  }

  #container3D img {
    display: none; /* Oculta la imagen por defecto */
  }
  
  /* Media queries para teléfonos (pantallas pequeñas) */
  @media (max-width: 767px) {
    #container3D img {
      display: block; /* Muestra la imagen en teléfonos */
    }
  }

  /* Media queries para tablets (pantallas medianas) */
  @media (max-width: 1024px) {
    #container3D img {
      display: block; /* Muestra la imagen en tablets */
    }
  }

  /* Media queries para PCs (pantallas grandes) */
  @media (min-width: 1025px) {
    #container3D img {
      display: none; /* Oculta la imagen en PC */
    }
  }