  .color-bg-theme {
    background-color: #0061a0;
  }

  #container3D {
    margin: auto;
    align-items: center;
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    max-width: 900px; /* Tamaño máximo para pantallas más grandes */
    aspect-ratio: 16 / 16; /* Mantiene una proporción de aspecto */
    overflow: hidden; /* Evita que los elementos internos se desborden */
    margin: auto; /* Centra el contenedor */
    position: relative; /* Permite el posicionamiento absoluto de elementos internos */
  }

  #container3D img {
    display: none; /* Oculta la imagen por defecto */
  }
  
  /* Media queries para pantallas medianas */
  @media (max-width: 1000px) { 
    #container3D img {
      display: block; /* Muestra la imagen en pantallas medianas */
    }
  
    #container3D {
      max-width: 100%; /* Ocupa todo el ancho disponible */
      aspect-ratio: 4 / 3; /* Ajusta la proporción para pantallas más pequeñas */
    }
  }
  
  /* Media queries para pantallas muy pequeñas */
  @media (max-width: 480px) {
    #container3D img {
      display: block; /* Muestra la imagen en pantallas pequeñas */
    }
  
    #container3D {
      max-width: 100%; /* Ocupa todo el ancho disponible */
      aspect-ratio: 1 / 1; /* Proporción cuadrada para pantallas muy pequeñas */
    }
  }

  